<!DOCTYPE html>
<html>
  <head>
    <title>PreparacionPrueba</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <span id="alert"><%= alert %></span>
    <span id="notice"><%= notice  %></span>
    <%= yield %>
  </body>
</html>